@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}
.container{
    width:100%;
    height:fit-content;
    position: absolute;
    bottom:0;
    right:0;
    z-index:-1;
    font-family: 'Qahiri', sans-serif;
    font-size:400px;
    color:rgb(0,0,0,0.2);
    text-align:center;
    
}